body {
    margin: 0;
}

.headline {
    color: black;
    font-size: xx-large;
    font-weight: bold;
}

.topbar {
    background-color: black;
    display: block;
    width: 100%;
    height: 80px;
}